<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.ac.univie.se2.ws21.team0404.app">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".ui.newOrAddAccount.NewOrAddAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.accountList.TemporaryIntermediaryActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.categories.AddOrEditCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.transactions.TransactionDetails"
            android:exported="false" />
        <activity
          android:name=".ui.transactions.TransactionNew"
          android:exported="false" />
        <activity
            android:name=".ui.accountList.AccountList"
            android:exported="false" />
        <activity
            android:name=".ui.categories.categorylist.CategoryList"
            android:exported="false" />
        <activity
            android:name=".ui.transactions.transactionlist.TransactionList"
            android:exported="false" />
        <activity
            android:name=".ui.mainactivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>