<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.ac.univie.se2.ws21.team0404.app">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".ui.report.ReportFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.report.ChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.categories.categorydetails.CategoryAdd"
            android:exported="false" />
        <activity
            android:name=".ui.categories.categorydetails.CategoryEdit"
            android:exported="false" />
        <activity
            android:name=".ui.transactions.transactiondetails.TransactionEdit"
            android:exported="false" />
        <activity
            android:name=".ui.transactions.transactiondetails.TransactionAdd"
            android:exported="false" />
        <activity
            android:name=".ui.account.accountlist.AccountList"
            android:exported="false" />
        <activity
            android:name=".ui.account.accountdetails.AccountAdd"
            android:exported="false"/>
        <activity
            android:name=".ui.account.accountdetails.AccountEdit"
            android:exported="false"/>
        <activity
            android:name=".ui.categories.categorylist.CategoryList"
            android:exported="false" />
        <activity
            android:name=".ui.transactions.transactionlist.TransactionList"
            android:exported="false" />
        <activity
            android:name=".ui.mainactivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>